<nav>
    <a class="nav-site-title" href="/" data-cy="navSiteTitle">Epicer</a>
    <ul class="nav-center">
        <li><a href="/recipes" class="get-more" data-cy="navViewAll">Get More Random Recipes</a></li>
    </ul>
</nav>