<nav>
    <a class="nav-site-title" href="/" data-cy="navSiteTitle">Epicer</a>
    <ul class="nav-center">
        <li><a href="/recipes" data-cy="navViewAll">All Recipes</a></li>
        <li><a href="/recipes" data-cy="navFavorites">Favorites</a></li>
        <li><a href="/recipes" data-cy="navAddRecipe">Add Recipe</a></li>
        <li><a href="/recipes" data-cy="navAbout">About</a></li>
    </ul>
    <div class="nav-register">
        <a href="/recipes" class="nav-login" data-cy="navLogIn">Log In</a>
        <a href="/recipes" class="nav-signup" data-cy="navSignUp">Sign Up</a>
    </div>
    <div class="nav-hamburger">
        <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="15"></rect>
            <rect y="30" width="100" height="15"></rect>
            <rect y="60" width="100" height="15"></rect>
            <path></path>
        </svg>
    </div>
</nav>