<%layout('layouts/boilerplate.ejs')%>
<main>
    <% for(let recipe of recipes) {%>
    <div class=card>
        <img src="<%=recipe.image%>">
        <div class=card-content>
            <div class=card-title><%=recipe.title%></div>
            <p>
                <%=recipe.summary ? recipe.summary.substring(0, 150) : ""%>...
            </p>

            <a href="/recipes/<%=recipe._id%>" class=card-link data-cy="viewRecipe">View Recipe</a>

        </div>
    </div>
    <%}%>
    </main>