<%layout("layouts/boilerplate");%>
<main class="form-main">
    <div class="form-card">
        <form class="form-content" action="/recipes" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="recipe[title]" required>
            </div>

            <div>
                <label for="instructions">Instructions</label>
                <input type="text" id="instructions" name="recipe[instructions]" required>
            </div>

            <div>
                <label for="image">Image Url</label>
                <input type="url" id="image" name="recipe[image]" required>
            </div>

            <button>Submit</button>
        </form>
    </div>
</main>