<%layout("layouts/boilerplate.ejs")%>
<main>
    <div class=show-card>
        <div class="show-card-content">
            <div class="show-card-title">
                <%=recipe.title%>
            </div>

        </div>
    </div>
</main>